@media only screen and (min-width: 1305px) {
  .ProjectInfoLinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1290px;
    margin: 150px 0;
    font-family: var(--family-H2-desktop);
    font-size: var(--size-H2-desktop);
    font-weight: var(--weight-H2-desktop);
    color: var(--White);
  }
}

@media only screen and (max-width: 1304px) {
  .ProjectInfoLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    gap: 60px;
    margin: 130px 0;
    font-family: var(--family-H2-mobile);
    font-size: var(--size-H2-mobile);
    font-weight: var(--weight-H2-mobile);
    color: var(--White);
  }
}
