@import url("../../styles/designTokens.css");

.placeholderButtonBox {
  background-color: var(--color-primary); /* Testing Design Tokens */
  color: var(--color-basic);
  font-size: var(--font-size-regular);
  transition: background-color 0.3s ease; /* Making animation to be more smooth */
}

.placeholderButtonBox:hover {
  background-color: greenyellow;
}

.placeholderButtonBox:active {
  background-color: yellowgreen;
}
