@import url("../../styles/designTokens.css");

@media only screen and (min-width: 1305px) {
  .PPTopSection {
    display: flex;
    flex-direction: column;
    width: 1290px;
  }

  .PPTopSectionMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1290px;
  }

  .PPTopSectionRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
    gap: 60px;
  }

  .PPTopSectionImage {
    width: 800px;
    height: 650px;
  }

  .PPTopSectionBrief {
    width: 1290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 60px 0;
  }

  .PPTopSectionBriefTitle {
    font-family: var(--family-H2-desktop);
    font-size: var(--size-H2-desktop);
    font-weight: var(--weight-H2-desktop);
    color: var(--White);
  }

  .PPTopSectionBriefText {
    width: 800px;
    font-family: var(--family-text-desktop);
    font-size: var(--size-text-desktop);
    font-weight: var(--weight-text-desktop);
    color: var(--White);
  }
}
@media only screen and (max-width: 1304px) {
  PPTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 385px;
  }

  .PPTopSectionMain {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .PPTopSectionRight {
    display: flex;
    width: 385px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
    gap: 60px;
  }

  .PPTopSectionButton {
    position: absolute;
    top: 30px;
    left: 35px;
  }

  .PPTopSectionImage {
    width: 355px;
    height: 275px;
  }

  .PPTopSectionBrief {
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 20px;
  }

  .PPTopSectionBriefTitle {
    font-family: var(--family-H2-mobile);
    font-size: var(--size-H2-mobile);
    font-weight: var(--weight-H2-mobile);
    color: var(--White);
    padding: 30px 0;
  }

  .PPTopSectionBriefText {
    width: 355px;
    font-family: var(--family-text-mobile);
    font-size: var(--size-text-mobile);
    font-weight: var(--weight-text-mobile);
    color: var(--White);
  }
}
