.ProjectCardsCarouselCards {
  width: 100%;
  display: flex;
  gap: 40px;
  /* flex-wrap: nowrap; */
  overflow-x: hidden;
  position: relative;
  justify-content: center;
}

.ProjectCardsCarouselBox {
  display: flex;
}

.ProjectCardsCarouselBox:hover .ProjectCardsCarouselButton {
  visibility: visible;
}

.ProjectCardsCarouselButton {
  position: absolute;
  top: 235px;
  transform: translateY(-50%);
  z-index: 10;
  visibility: hidden;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
