@import url("../../styles/designTokens.css");

.MobileAboutCardsCarouselCards {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 0 70px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding-bottom: 15px;
}

.MobileAboutCardsCarouselBox {
  display: flex;
  position: relative;
}

.MobileAboutCardsCarouselBox:hover .MobileAboutCardsCarouselButton {
  visibility: visible;
}
.MobileAboutCardsCarouselButton:hover {
  visibility: visible;
}

.MobileAboutCardsCarouselButton {
  position: absolute;
  bottom: -50px;
  transform: translateY(-50%);
  margin: 0 55px;
}
