@import url("../../styles/designTokens.css");

.topDecoration {
    display: flex;
    width: 925px; /* Flow width stays the same */
    height: 573px;
    justify-content: space-between;
}

.topDecorationLeft {
    width: 370px;
    height: 367px;
    background: var(--Accent);
    border-radius:  0 0 370px 370px;
}

.topDecorationRight {
    width: 370px;
    background: var(--Primary);
    border-radius:  0 0 370px 370px;
}
