@import url("../../styles/designTokens.css");

.ContactsBox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}
.ContactsMainBox {
  height: 670px;
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Accent);
  border-radius: 520px 520px 0 0;
  z-index: 1;
}

.ContactsList {
  margin-top: 215px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.ContactsDecorativeBox {
  height: 395px;
  width: 395px;
  border-radius: 395px 395px 0 0;
  background-color: var(--Primary);
  position: absolute;
  left: 365px;
}
