@import url("../../styles/designTokens.css");

.NotFoundQuote {
  font-family: var(--family-H2-desktop);
  font-size: var(--size-H2-desktop);
  font-weight: var(--weight-H2-desktop);
  color: var(--Accent);
  width: 404px; /*devides text into lines. Easter egg:)*/
}
