@import url("../../styles/designTokens.css");

.Quote {
  font-family: var(--family-H2-desktop);
  font-size: var(--size-H2-desktop);
  font-weight: var(--weight-H2-desktop);
  color: var(--Accent);
  width: 460px; /*devides text into lines*/
}
