@import url("../../styles/designTokens.css");

.NotFoundFlag {
  width: 588px;
  height: 840px;
  background: var(--Primary);
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 0 0 588px 588px;
}

.NotFoundText {
  font-family: var(--family-H1-desktop);
  font-size: var(--size-H1-desktop);
  font-weight: var(--weight-H1-desktop);
  align-self: center;
  margin-bottom: 210px;
  color: var(--Accent);
}
