@import url("../../styles/designTokens.css");

@media only screen and (min-width: 1305px) {
  .ProfileFlag {
    width: 588px;
    height: 775px;
    background: var(--Primary);
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0 0 588px 588px;
  }

  .ProfileImage {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
@media only screen and (max-width: 1304px) {
  .ProfileFlag {
    width: 378px;
    height: 520px;
    background: var(--Primary);
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0 0 378px 378px;
  }

  .ProfileImage {
    width: 378px;
    height: 378px;
    aspect-ratio: 1 / 1;
  }
}
