.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.HomeHeader {
  height: 650px;
  background-color: var(--BackgroundDark);
  width: 100%;
  display: flex;
  justify-content: center;
}

.HomeIntro {
  margin-top: 90px;
  margin-bottom: -100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HomeProjectsFlag {
  position: relative;
  top: 188px;
}

.HomeProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--BackgroundDark);
}

.HomeFilterList {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 30px;
  margin-right: 70px;
}
.HomeProjectList {
  position: relative;
  margin-top: 70px;
  margin-bottom: 270px;
}
.HomeExperienceFlag {
  position: relative;
  bottom: 185px;
}
.HomeExperience {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 110px;
}

.HomeEducation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 130px;
  margin-top: 60px;
}

.HomeEducationBox {
  position: relative;
  bottom: 220px;
  margin-right: 180px;
  z-index: 5;
}

.HomeContactsFlag {
  position: relative;
  bottom: 400px;
  z-index: 10;
}

.HomeContacts {
  background-color: var(--BackgroundDark);
  position: relative;
  bottom: 135px;
  display: flex;
  flex-direction: column;
  margin-bottom: -135px;
}

.HomeContactsBackground {
  background-color: var(--BackgroundDark);
  position: absolute;
  bottom: 661px;
  width: 100%;
  height: 340px;
}
