@import url("../../styles/designTokens.css");

@media only screen and (min-width: 1305px) {
  .PPBottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1304px) {
  .PPBottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
