@import url("../../styles/designTokens.css");

@media only screen and (min-width: 1305px) {
  .ProjectCardBox {
    width: 470px;
    flex: 0 0 auto;
    color: var(--White);
  }

  .ProjectCardBox:hover {
    cursor: pointer;
  }

  .ProjectCardImage {
    width: 470px;
    height: 470px;
    position: relative;
  }

  .ProjectCardTag {
    position: absolute;
    top: 380px;
    z-index: 1;
  }

  .ProjectCardDescription {
    margin-top: 20px;
    font-family: var(--family-text-desktop);
    font-size: var(--size-text-desktop);
    font-weight: var(--weight-text-desktop);
  }
}

@media only screen and (max-width: 1304px) {
  .ProjectCardBox {
    width: 320px;
    flex: 0 0 auto;
    color: var(--White);
  }

  .ProjectCardBox:hover {
    cursor: pointer;
  }

  .ProjectCardImage {
    width: 320px;
    height: 320px;
    position: relative;
  }

  .ProjectCardTag {
    position: absolute;
    top: 260px;
    z-index: 1;
  }

  .ProjectCardDescription {
    margin-top: 15px;
    font-family: var(--family-text-mobile);
    font-size: var(--size-text-mobile);
    font-weight: var(--weight-text-mobile);
  }
}
