.placeholderProjectCardsCarouselCards {
  width: 100%;
  display: flex;
  gap: 20px;
  /* flex-wrap: nowrap; */
  overflow-x: hidden;
}

.placeholderProjectCardsCarouselBox {
  display: flex;
  position: relative;
}

.placeholderProjectCardsCarouselButton {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
