@import url("../../styles/designTokens.css");

@media only screen and (min-width: 1305px) {
  .ProjectTools {
    font-family: var(--family-text-desktop);
    font-size: var(--size-text-desktop);
    font-weight: var(--weight-text-desktop);
    width: 420px;
  }
  .ProjectToolsIcons {
    display: flex;
    align-items: center;
    min-height: 180px;
  }

  .ProjectToolsImage {
    height: 60px;
    width: 60px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1304px) {
  .ProjectTools {
    font-family: var(--family-text-mobile);
    font-size: var(--size-text-mobile);
    font-weight: var(--weight-text-mobile);
    width: 355px;
  }
  .ProjectToolsIcons {
    display: flex;
    align-items: center;
    min-height: 120px;
  }

  .ProjectToolsImage {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}
