@import url("../../styles/designTokens.css");

.placeholderProjectCardBox {
  background-color: aqua;
  width: 470px;
  flex: 0 0 auto;
}

.placeholderProjectCardBox:hover {
  cursor: pointer;
}

.placeholderProjectCardImage {
  width: 100%;
  aspect-ratio: 1/1;
}
.placeholderProjectCardTitle {
  font-family: var(--family-H4plus);
  font-size: var(--size-H4plus);
  font-weight: var(--weight-H4plus);
}

.placeholderProjectCardDescription {
  font-family: var(--family-text-desktop);
  font-size: var(--size-text-desktop);
  font-weight: var(--weight-text-desktop);
}
